.weatherDescrArea {
  text-align: center;
  padding: 25px 0;

  .weatherTitle {
    font-size: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }

  .weatherDeg {
    color: #fff;
    font-size: 130px;
  }

  .weatherImg {
    width: 120px;
  }

  .weatherDescr {
    text-align: center;
    color: #fff;
    font-size: 35px;
  }
}

@media (max-width: 620px) {
  .weatherDescrArea {
    padding: 20px 0;

    .weatherTitle {
      font-size: 26px;
    }

    .weatherDeg {
      font-size: 100px;
    }

    .weatherImg {
      width: 100px;
    }

    .weatherDescr {
      font-size: 30px;
    }
  }
}

@media (max-width: 420px) {
  .weatherDescrArea {
    .weatherTitle {
      font-size: 24px;
    }

    .weatherDeg {
      font-size: 80px;
    }

    .weatherImg {
      width: 90px;
    }

    .weatherDescr {
      font-size: 22px;
    }
  }
}

