.weatherDeg {
  color: #fff;
  font-size: 130px;
}

.weatherDescrArea {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherDescr {
  color: #fff;
  font-size: 35px;
}