.weatherDailyWrapper {
  display: flex;
  flex-direction: column;
  min-height: 230px;
  padding: 10px;
  text-align: center;
  color: #fff;

  .btn {
    font-size: 12px;
    padding: 15px 10px;
    color: rgba(255, 255, 255, 0.8);
    transition: color .3s ease-in-out;

    &:hover {
      color: #64a2ff !important;
    }
  }

 .weatherDailyDate {
   font-size: 17px;
   margin-bottom: 20px;
   color: rgba(255, 255, 255, 0.5);
 }

  .weatherDailyDetails {
    margin-top: auto;
    .weatherDailyTemp {
      font-size: 20px;
    }

    .weatherDailyContent {
      margin-top: auto;
      min-height: 130px;

      .weatherDailyImg {
        width: 80px;
      }

      .weatherDailyDescription {
        font-size: 16px;
      }
    }
  }
}