.form {
	display: flex;
	gap: 10px;

	.input {
		color: rgba(255, 255, 255, 0.8) !important;
		background-color: transparent !important;
		border: 1px solid rgba(255, 255, 255, 0.6) !important;
		transition: all 0.3s ease-in-out !important;

		&:focus-within::before {
			border: 1px solid rgba(255, 255, 255, 1) !important;
			--Input-focused: 0;
		}

		&:hover {
			border: 1px solid rgba(255, 255, 255, 1) !important;
		}
	}

	.btn {
		font-size: 25px !important;
		color: rgba(255, 255, 255, 0.6) !important;
		background-color: transparent !important;
		border: 1px solid rgba(255, 255, 255, 0.6);
		transition: all 0.3s ease-in-out !important;

		&:hover {
			color: rgba(255, 255, 255, 1) !important;
			border: 1px solid rgba(255, 255, 255, 1);
		}
	}
}

@media (max-width: 420px) {
	.form {
		gap: 5px;

		.input {
			font-size: 14px !important;
		}

		.btn {
			font-size: 20px !important;
		}
	}
}
