.weather {
    margin-top: 50px;

  .weatherWrapper {

    .weatherSelectArea {
      display: flex;
      justify-content: flex-end;

     .weatherSelect {
       width: 100%;
       max-width: 300px;
      }
    }
  }

  .weatherBtn {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 620px) {
  .weather {
    margin-top: 30px;

    .weatherWrapper {
      .weatherSelectArea {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 420px) {
  .weather {
    margin-top: 20px;
  }
}





