.weatherDetailsArea {
  padding: 25px 0;

  .weatherDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(171, 184, 195, 0.3);
    gap: 50px;

    .weatherItem {
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 10px;
    }

    .weatherWind {
      color: #fff !important;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .weatherDescr {
      color: #fff;
      font-size: 20px;
    }
  }
}

@media (max-width: 620px) {
  .weatherDetailsArea {
    padding: 20px 0;

    .weatherDetails {
      gap: 40px;
    }
  }
}

@media (max-width: 420px) {
  .weatherDetailsArea {
    padding: 20px 0;

    .weatherDetails {
      padding: 15px;
      gap: 30px;
    }
  }
}

