.worldWeather {
  margin-top: 50px;

  .worldWeatherWrapper {
    .worldWeatherInputArea {
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
    }

    .weatherBtn {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 620px) {
  .worldWeather {
    margin-top: 30px;
  }
}

@media (max-width: 420px) {
  .worldWeather {
    margin-top: 20px;
  }
}







