.weatherSlider {
  text-align: center;
  padding: 25px 0;
}

.slide {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 620px) {
  .weatherSlider {
    padding: 20px 0;
  }
}

@media (max-width: 420px) {
  .weatherSlider {
    padding: 10px 0;
  }
}