.select {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: transparent !important;
	border: 1px solid rgba(255, 255, 255, 0.7) !important;
	transition: all 0.3s ease-in-out !important;

	svg {
		color: rgba(255, 255, 255, 0.7) !important;
	}

	&:hover {
		color: rgba(255, 255, 255, 1) !important;
		border: 1px solid rgba(255, 255, 255, 1) !important;
	}

	&:hover svg {
		color: rgba(255, 255, 255, 1) !important;
	}
}
