.formControl {
  color: rgba(255, 255, 255, 0.6);
}

.label {
  color: rgba(255, 255, 255, 0.6) !important;
}

.select {
  color: rgba(255, 255, 255, 0.6) !important;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;

  svg {
    color: rgba(255, 255, 255, 0.6);
  }
}

