.label {
	color: rgba(255, 255, 255, 0.8) !important;
}

.select {
	color: rgba(255, 255, 255, 0.8) !important;
	transition: all 0.3s ease-in-out !important;

	svg {
		color: rgba(255, 255, 255, 0.8) !important;
	}

	&::after {
		content: '';
		border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
	}

	&:hover::after {
		border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
	}

	&::before {
		content: '';
		border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
	}

	&:hover::before {
		border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
	}

	&:hover {
		color: rgba(255, 255, 255, 1) !important;
	}
}
