.header {
  padding: 25px 0;

  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .headerLogo {
      display: flex;
      align-items: center;
      font-weight: 600;
      color: #dbaf00;
      font-size: 25px;
      transition: color .3s ease-in-out;

      &:hover {
        color: #00ffff;
      }
    }

    .headerNavigation {
      display: flex;
      gap: 50px;

      .headerBtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        padding: 10px;
        color: rgba(255, 255, 255, 1);
        transition: color .3s ease-in-out;

        .headerIcon {
          font-size: 50px;
        }

        &:hover {
          color: #00ffff;;
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .header {
    .headerWrapper {
      .headerNavigation {
        .headerBtn {
          font-size: 14px;

          .headerIcon {
            font-size: 45px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 15px 0;

    .headerWrapper {
     display: block;

      .headerLogo {
        font-size: 20px;
        margin-bottom: 30px;
      }

      .headerNavigation {
        gap: 20px;
        justify-content: space-around;

        .headerBtn {
          .headerIcon {
            font-size: 45px;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .header {
    .headerWrapper {
      .headerNavigation {
        justify-content: space-between;

        .headerBtn {
          .headerIcon {
            font-size: 40px;
          }
        }
      }
    }
  }
}




