.header {
  padding: 25px 0;

  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .headerLogo {
      display: flex;
      align-items: center;
      font-weight: 600;
      color: #00ffff;
      font-size: 25px;
      transition: color .3s ease-in-out;

      &:hover {
        color: #dbaf00;
      }
    }

    .headerNavigation {
      display: flex;
      gap: 30px;

      .headerBtn {
        font-size: 18px;
        white-space: nowrap;
        color: rgba(255, 255, 255, 1);
        transition: color .3s ease-in-out;

        &:hover {
          color: #64a2ff;
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .header {
    .headerWrapper {
      display: block;

      .headerLogo {
        margin-bottom: 30px;
      }

      .headerNavigation {
        gap: 15px;
        justify-content: space-around;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 15px 0;

    .headerWrapper {
      gap: 20px;

      .headerLogo {
        font-size: 20px;
      }

      .headerNavigation {
        gap: 20px;
        flex-wrap: wrap;

        .headerBtn {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .header {
    .headerWrapper {
      .headerNavigation {
        justify-content: flex-start;
      }
    }
  }
}


@media (max-width: 420px) {
  .header {
    .headerWrapper {
      .headerNavigation {
        .headerBtn {
          font-size: 14px;
        }
      }
    }
  }
}




