.image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  margin: 0 auto;
  max-width: 500px;
  padding: 50px 0;

  .img {
    color: #fff !important;
  }
}

@media (max-width: 620px) {
  .image {
    max-width: 400px;
  }
}

@media (max-width: 420px) {
  .image {
    min-height: 60vh;
    max-width: 300px;
  }
}